        <link rel="stylesheet" href="/css/user_profile.css">
        <h1>
            Codeial User Profile
        </h1>
        <p>Name: <%= user.name %></p>
        <p>Email Id: <%= user.email %></p>
        <p>CreatedAt: </p>
        <p>UpdatedAt: </p>
        <a href="/users/signOut">Sign out</a>